<article class="container grid gap-20 mt-20 lg:grid-cols-2">
  <div class="lg:order-last">
    <!-- hero -->
    <img src="/assets/images/illustration-1.svg" alt="Hero">
    <!-- end hero -->
  </div>

  <div>

    <section class="grid gap-6">
      <h1 class="text-3xl font-black text-center font-heading lg:text-left xl:text-5xl">All your files in one secoure
        location, accessible
        anywhere.</h1>
      <p class="text-base font-medium leading-6 text-center lg:text-left xl:text-lg">Fylo stores your most important
        files in one secure
        location.
        Access
        them whereever
        you need, share and
        collacorate with friends, family, and co-workers</p>
    </section>

    <!-- email form -->
    <section class="mt-10">
      <form (ngSubmit)="onSubmit($event)" [formGroup]="form"
        class="flex flex-col items-center gap-6 sm:flex-row sm:items-start">

        <!-- email input -->
        <div class="w-full sm:flex-grow">
          <input formControlName="email" placeholder="Email your email..." class="w-full placeholder-muted"
            type="email">
          <!-- errors -->
          <p class="text-left" *ngIf="email.touched && email.errors">Pleace check your email</p>
          <!-- end errors -->
        </div>
        <!-- end email input -->

        <!-- submit button -->
        <div class="w-full sm:w-auto ">
          <button class="w-full btn btn-primary sm:px-10 lg:px-6">Get started</button>
        </div>
        <!-- end submit button -->
      </form>

      <!-- end email form -->
    </section>
  </div>

</article>
