<article class="container-large mt-44 2xl:mt-72">

  <!-- pattern mobile -->
  <img class="w-full lg:hidden" src="/assets/images/bg-curve-mobile.svg" alt="Hero">
  <!-- end pattern mobile -->

  <!-- pattern desktop -->
  <img class="hidden w-full lg:block" src="/assets/images/bg-curve-desktop.svg" alt="Hero">
  <!-- end pattern desktop -->

  <div class="bg-muted py-44">
    <div class="container grid bg-muted gap-28 lg:grid-cols-2">

      <!-- hero -->
      <div class="lg:order-last">
        <img class="w-full" src="/assets/images/illustration-2.svg" alt="Hero">
      </div>
      <!-- end hero -->

      <div class="grid gap-8 place-items-center lg:place-items-start">

        <h1 class="text-xl font-black text-center font-heading sm:text-3xl lg:text-left">Stay productive,
          wherever you
          are
        </h1>

        <div class="space-y-4 font-semibold text-justify text-muted lg:text-left">
          <p>Never let location be an issue when accessing your files. Fylo has your covered for all of your file
            storage
            needs.</p>

          <p>Securely share files and folers with friends, family and colleagues for live collaboration. No email
            attachments
            required!</p>
        </div>

        <!-- button how fylo work -->
        <div>

          <a class="inline-block" href="#">
            <div class="flex items-center gap-3 pb-1 font-medium border-b border-success text-success">
              <p class="font-semibold leading-6"> See how Fylo works</p>
              <img class="w-6 leading-6" src="/assets/images/icon-arrow.svg" alt="Arrow">
            </div>
          </a>
        </div>
        <!-- end button how fylo work -->

        <!-- testimonial -->
        <div class="max-w-sm p-6 mx-auto bg-white rounded-lg shadow-lg lg:mx-0">
          <img src="/assets/images/icon-quotes.svg" alt="Quote">
          <p class="mt-3 font-medium font-heading">Fylo has improved our team productivity by an order of magnitude.
            Since
            making the
            switch our team
            has become a
            well-olled collaboration machine.</p>

          <div class="flex items-center gap-3 mt-6">
            <img class="w-10 h-10 rounded-full" src="/assets/images/avatar-testimonial.jpg" alt="Avatar">
            <div>
              <strong class="font-heading">Kyle Burton</strong>
              <p class="text-muted"> Founded & CEO Huddle</p>
            </div>
          </div>
        </div>
        <!-- end testimonial -->
      </div>
    </div>
  </div>
</article>
