<header>
  <nav class="container flex items-center justify-between py-8 md:py-12">
    <!-- logo -->
    <img class="max-w-[100px] sm:max-w-none" src="/assets/images/logo.svg" alt="Logo">
    <!-- end logo -->

    <ul class="flex gap-6 text-sm sm:text-base sm:gap-14 xl:gap-20">
      <li><a class="hover:text-muted" href="#">Features</a></li>
      <li><a class="hover:text-muted" href="#">Team</a></li>
      <li><a class="hover:text-muted" href="#">Sign in</a></li>
    </ul>
  </nav>

</header>
